
/*-- Body --*/
body{
    
}
p{
    
}
h1{
    font-family: 'Montserrat', sans-serif;
}

.navbar-title {
    background-color: #ccc;
    background-image: url('/images/bg-2.png');
    background-size: cover;
}

/*-- Navbar */
.nav-item{
    padding-right: 20px;
    font-size: 1.5rem;
}

.navbar-collapse{
    padding: 20px;
    border: #f882f5;
}

.navbar-brand{
    padding: 20px;
    font-family: 'Merriweather', serif;
    font-size: 2.5rem;
    
}
/*-- Title */
.img-logo{
    width: auto;
}
.col-title{
    position: relative;
}

.col-title-img{
    position: relative;
}
.container-fluid{
    padding: 3% 10%;
}

/*-- About us */



/*-- Find us */



/*-- Footer */




/*--  font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif; ---*/